@import "../../../../assets/colors";

.configuration {
    text-align: center;
    color: $pinkish-grey;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    ion-icon {
        font-size: 34px;
    }
}

.btn__singoff {
    border-radius: 8px;
    border: 1px solid $lipstick;
    color: $lipstick;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}