$leafy-green: #49B742;
$brownish-grey: #666666;
$dark-tan: #B78842;
$lipstick: #D31245;
$pinkish-grey: #CCCCCC;
$background: #F5F5F5;
$white: #ffffff;
$lipstick5: rgba(211, 18, 69, .5);
$leafy5: rgba(73, 183, 66, .5);